//
// Base colour styles
//

body {
    background-color: #fff;
}

a {
    color: #00a;

    &:hover {
        color: #000;
    }

    &:visited {
        color: #a0a;
    }
}

.title a {
    color: #a00;

    &:hover {
        color: #000;
    }
}

.header a.extra {
    color: #aaa;

    &:hover {
        color: #000;
    }
}

.meta {
    color: #aaa;
}

.footer {
    border-top: 4px solid #eee;
    color: #666;

    .contact a {
        color: #8085c1;
    }

    .rss img {
        border: 0;
    }
}
