//
// Styles for the "all posts" view (home page)
//

.post-list {
    list-style-type: none;
}

.post-list--item {
    margin-bottom: $gutter;

    &:last-child {
        margin-bottom: 0;
    }
}

.post-list--item__link {
    display: block;
    font-size: 1.75em;
}
