//
// Layout styles
//

body {
    min-width: 320px;
}

header {
    @include outer-container;

    margin-bottom: $gutter;
    text-align: center;
}

main {
    @include clearfix;

    @include media($large-screen) {
        @include span-columns(8);
    }

    margin-bottom: $gutter;
}

aside {
    @include clearfix;

    @include media($large-screen) {
        @include span-columns(4);
    }

    margin-bottom: $gutter;
}

footer {
    padding: $gutter;
    text-align: center;
}

.content-wrapper {
    @include clearfix;
    @include outer-container;

    padding-left: $gutter / 2;
    padding-right: $gutter / 2;
}

.image-placeholder {
    text-align: center;
    vertical-align: center;
    margin-bottom: 2em;
}

.image-placeholder__me {
    border-radius: 50%;
}
