//
// Individual post styling
//

.meta {
    margin-top: $gutter / 2;
}

.post {
    pre {
        background-color: #eef;
        padding: 0 .4em;

        code {
            border: 0;
        }

        &.terminal {
            background-color: #333;
            border: 1px solid #000;
            color: #fff;

            code {
                background-color: #333;
            }
        }
    }

    code {
        background-color: #eef;
        padding: 0 .2em;
    }

    h2 {
        margin-bottom: $gutter / 2;
        margin-top: $gutter;

        &:first-child {
            margin-top: $gutter / 2;
        }
    }

    h3 {
        margin-bottom: $gutter / 2;
        margin-top: $gutter;
    }

    p {
        margin-bottom: $gutter;
    }

    li {
        list-style-type: disc;
        margin-bottom: $gutter / 2;
    }
}
