//
// Site configuration
//

//
// Typography
//
$base-font-family: $helvetica;
$base-font-size: 1em;

//
// Colour
//

// Main Primary colour
$colour-primary-0: #c83f3c;
$colour-primary-1: #511412;
$colour-primary-2: #8a2421;
$colour-primary-3: #f95d58;
$colour-primary-4: #ff706d;

// Main Secondary colour (1)
$colour-secondary-1-0: #c8813c;
$colour-secondary-1-1: #513112;
$colour-secondary-1-2: #8a5521;
$colour-secondary-1-3: #f9a858;
$colour-secondary-1-4: #ffb56d;

// Main Secondary colour (2)
$colour-secondary-2-0: #276c7c;
$colour-secondary-2-1: #0c2b32;
$colour-secondary-2-2: #164955;
$colour-secondary-2-3: #3a889a;
$colour-secondary-2-4: #5ab6cb;

// Main Complement colour
$colour-complement-0: #2f9d36;
$colour-complement-1: #0e3f12;
$colour-complement-2: #1a6d1f;
$colour-complement-3: #46c44e;
$colour-complement-4: #60e269;

// Utility values
$colour-white: #fff;

//
// Layout
//

$site-max-width: 80em;
