<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body>
        
        {% include page-header.html %}

        <div class="content-wrapper">
            <h2 class="post-title">{{ page.title }}</h2>
            <p class="meta">{{ page.date | date_to_string }}</p>

            <main role="main" class="post">

                {{ content }}

            </main>
        </div>

        {% include page-footer.html %}

        {% include google-analytics.html %}
    </body>
</html>
